<a href="https://colab.research.google.com/github/Biswajeet14/2001206081_ece/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#using arithmetic operator and comparission operator
a=5
b=2
print('a/b=',a/b)
print('a//b=',a//b)
print('a**b=',a**b)
print('a<b=',a<b)
print('a>b=',a>b)

a/b= 2.5
a//b= 2
a**b= 25
a<b= False
a>b= True

In [6]:
#using Logical Operator
a=True
print('not A=',not a)
b=False
print('not B=',not b)

not A= False
not B= True

In [7]:
#Bitwise operator
a=2
b=3
c=a<<b
print('a<<b=',c)

a<<b= 16

In [8]:
#Bitwise Operator
a=2
b=3
c=a>>b
print('a>>b=',c)

a>>b= 0

In [10]:
#Using Identify Operator
a=5
b=5
print('a is b',a is b)
print('a is not b',a is not b)
x='ECE'
y='CSE'
print('x is y',x is y)
print('x is not y',x is not y)

a is b True
a is not b False
x is y False
x is not y True

In [13]:
#Using Membership OPerator (in and not in)
a='Hello ECE'
print('A in a',a in 'A')

A in a False

In [17]:
num=int(input("enter the number"))
if num%2==0:
  print("Number is even")
else:
    print("Number is odd")

enter the number8249602773
Number is odd

In [19]:
#using if...elif statement
number=int(input("Enter the number"))
if number==10:
  print("Number is equals to 10")
elif number==50:
 print("Number is equals to 50")
elif number==100:
   print("Number is equals to 100")
else:
     print("Number is not equals to 10,50,100")

Enter the number100
Number is equals to 100